{% extends "layout.html" %}

{% block main %}

<div class="container mt-5">
  <h2 class="text-center mb-4">Add A New Book</h2>

  <form action="/add" method="post" class="row g-3 justify-content-center">

    <div class="col-md-6">
      <input class="form-control" name="title" placeholder="Title" type="text" required autofocus>
    </div>

    <div class="col-md-6">
      <input class="form-control" name="author" placeholder="Author" type="text">
    </div>

    <div class="col-md-6">
      <input class="form-control" name="pages" placeholder="Pages" type="number">
    </div>

    <div class="col-md-6">
      <select class="form-select" name="completion_status" required>
        <option disabled selected value="">Status</option>
        <option value="completed">Completed</option>
        <option value="reading">Reading</option>
        <option value="to-read">To Read</option>
      </select>
    </div>

    <div class="col-md-6">
      <input class="form-control" name="date_start" placeholder="Started On (dd/mm/yy)" type="text">
    </div>

    <div class="col-md-6">
      <input class="form-control" name="date_end" placeholder="Completed On (dd/mm/yy)" type="text">
    </div>

    <div class="col-md-6">
      <input class="form-control" name="genre" placeholder="Genre" type="text">
    </div>

    <div class="col-md-6">
      <input class="form-control" name="rating" placeholder="Rating (/10)" type="number">
    </div>

    <div class="col-12 text-center mt-3">
      <button type="submit" class="btn btn-outline-success px-5">Add Book</button>
    </div>

  </form>
</div>

{% endblock %}