{% extends "layout.html" %}

{% block main %}
<div class="mt-4 px-5">
<h1 class="mb-3 text-center fw-bold display-5">Dashboard</h1>
<div class="d-flex justify-content-center my-3">
<form action="/add" method="get">
    <button type="submit" type="button" class="btn btn-outline-success mb-4">Add A New Book</button>
</form>
</div>
</div>
<div class="container-fluid p-0">
<div class="table-responsive">
<table class="table table-striped-columns table-hover align-middle text-center">
    <thead class="table-dark">
        <tr>
            <th scope="col"> </th>
            <th scope="col"> Title </th>
            <th scope="col"> Author </th>
            <th scope="col"> Pages </th>
            <th scope="col"> Status </th>
            <th scope="col"> Started On </th>
            <th scope="col"> Completed On </th>
            <th scope="col"> Genre </th>
            <th scope="col"> Your Rating </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for book in books %}
        <tr>
            <td> {{loop.index}} </td>
            <td> {{book["title"]}} </td>
            <td> {{book["author"]}}</td>
            <td> {{book["pages"]}} </td>
            <td> {{book["completion_status"]}} </td>
            <td> {{book["date_start"]}} </td>
            <td> {{book["date_end"]}} </td>
            <td> {{book["genre"]}} </td>
            <td> {{book["rating"]}} </td>
            <td>
            <form action="/edit/{{book['id']}}" method="get">
            <button type="submit" class="btn btn-outline-secondary btn-sm">Edit</button>
            </form>
            </td>
            <td>
            <form action="/delete/{{book['id']}}" method="get">
            <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
            </form>
            </td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock %}